/*-- Rest ------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}

:focus {outline: 0;}
body {line-height: 1;color: black;background: white;}
ol, ul {list-style: none;}

table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

a { text-decoration: none; }
li { list-style: none; }
p { margin: 0px; line-height: 1.2; }
h1, h2, h3, h4 { margin: 4px 0 0 0; }

/*-- Utility Styles ------------------------------------------------------------------*/
 .clearfix:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*-- Global Styles -------------------------------------------------------------------------------------------------*/
.header(@fontsize, @color){
	font-family: 'Doppio One', sans-serif;
	font-size: @fontsize;
	color: @color;
}
.heading, .question > p {
	.header(12px, #333);
}
.border_radius(@border_radius){
	-webkit-border-radius: @border_radius;
	-moz-border-radius: @border_radius;
	border-radius: @border_radius;
}
.btn_box_shadow(@highlight){
	-moz-box-shadow: 0 1px @highlight inset;
	-webkit-box-shadow: 0 1px @highlight inset;
	box-shadow: 0 1px @highlight inset;
}
.button(@font_color, @text_shadow, @bgcolor, @secondary_color, @border_radius){
		color: @font_color;
		font-weight: bold;
		line-height: 1.4545em;
		text-shadow: 0 -1px @text_shadow;
		text-align: center;
		background-color: @bgcolor; /* #0079C1 */
		background: -moz-linear-gradient(center bottom, @bgcolor 0, @bgcolor 20%, @secondary_color 100%);
		background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,@bgcolor),color-stop(20%, @bgcolor),color-stop(100%, @secondary_color));
		background: -webkit-linear-gradient(bottom, @bgcolor 0, @bgcolor 20%,@secondary_color 100%);
		background: -ms-linear-gradient(bottom,@bgcolor 0,@bgcolor 20%,@secondary_color 100%);
		background: -o-linear-gradient(bottom,@bgcolor 0,@bgcolor 20%,@secondary_color 100%);
		background: linear-gradient(bottom,@bgcolor 0,@bgcolor 20%,@secondary_color 100%);
		.btn_box_shadow(lighten(@bgcolor, 20%));
		.border_radius(@border_radius);
		border-color: @bgcolor darken(@bgcolor, 10%) darken(@bgcolor, 20%);
		border-style: solid;
		border-width: 1px;
		height: 1.4545em;
		padding: 5px 15px 6px;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
		cursor: pointer;
		/* moz-box-shadow: 0 1px rgba(255,255,255,0.2),0 1px #4dbeff inset; */
		/* -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.2),0 1px #4DBEFF inset; */
		/* box-shadow: 0 1px rgba(255, 255, 255, 0.2),0 1px #4DBEFF inset; */
		text-shadow: 0px 0px 2px black;
		margin: 5px 0 0 0;
}
/*-- Colors -------------------------------------------------------------------------------------------------*/
@accent_color: #e06f1d;


body {
	background-color: #ffffff;
	background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(#999999), to(#ffffff));
	background-image: -webkit-radial-gradient(50% 50%, #ffffff, #999999);
	background-image: -moz-radial-gradient(50% 50%, #ffffff, #999999);
	background-image: -o-radial-gradient(50% 50%, #ffffff, #999999);
	background-image: -ms-radial-gradient(50% 50%, #ffffff, #999999);
	background-image: radial-gradient(50% 50%, #ffffff, #999999);
	background-repeat:no-repeat;
	margin: 0;
	padding: 0;
	font-family: helvetica, arial, sans-serif;
	color: #333;
}
#header, #footer {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	background-color: #999;
	& .inner {
		width: 90%;
		margin: 15px  auto;
	}
}
#header {
	background: url('../imgs/header.png') repeat 0 0;
	border-bottom: 1px solid #333;
}
#footer{
	height:200px;
	background-color: #333;
	border-top: 1px solid #000;
}
#wrapper {
	height: 500px;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}
#sidebar {
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ececec));
	background-image: -webkit-linear-gradient(top, #ffffff, #ececec);
	background-image: -moz-linear-gradient(top, #ffffff, #ececec);
	background-image: -o-linear-gradient(top, #ffffff, #ececec);
	background-image: -ms-linear-gradient(top, #ffffff, #ececec);
	background-image: linear-gradient(top, #ffffff, #ececec);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#ececec');
	float: left;
	/* width: 20%; */
	width: 255px;
	overflow: hidden;
	min-height: 500px;
	border-right: 1px solid #999;
	#logo {
		margin: 4px auto 20px;
		text-indent: -9999px;
		background: url('../imgs/logo.png') no-repeat 0 0;
		width: 72px;
		height: 84px;
		padding: 0;
 	}
	.inner {
		width: 90%;
		margin: 20px auto;
		p {
			text-align: left;
			margin: 0 0 4px 0;
			color: #555;
			font-size: 9pt;
			font-weight: bold;
				&#welcome{
					font-weight: bold;
					font-size: 15pt;
				}
		}
		form {
			margin: 0 0 40px 0;
			padding: 0;
		}
		#select_survey {
			margin: 20px 0 0 0;
		}
	}
	#stats, #admin_controls{
		float: none;
		margin: 0px 0 20px 0;
		padding: 0;
		display: block;
		overflow: hidden;
		li {
			list-style: none;
			font-size: 10pt;
			border-bottom: 1px solid white;
			border-top: 1px solid #dcdcdc;
			padding: 6px 0;
			margin: 0;

			&.first {
				border-top: none;
			}
			&.last {
				border-bottom: none;
			}
			&.user {
				background: url('../imgs/user.png') no-repeat 0 4px;
				padding-left: 24px;
			}
			&.excel {
				background: url('../imgs/excel.png') no-repeat 0 4px;
				padding-left: 24px;
			}
			a {
				color: #333;
				&:hover {
					color: @accent_color;
				}
			}
		}
		span {
		font-weight: bold;
		color: #343434;
		font-size: 11pt;
	}
	}
	.priveleged {
		
	}
}
#body {
	float: left;
	width: 1000px;
	height: 485px;
	overflow: auto;
	.inner {
		/* width: 95%; */
		width: 95%;
		margin: 8px auto 40px;

		.error {
			display: none;
			border: 1px solid red;
			color: red;
		}
	}
}
#header {

	#title {
		float: left;
		font-size: 30pt;
		margin: 0;
		font-family: 'Overlock', cursive;
		text-shadow: 1px 3px 0px black;
		color: #FFEEB8;
		font-weight: bold;
	}
	#loginout {
		float: right;
		margin: 17px 0 0 0;


		li {
			margin: 0 0 4px 0;
			font-size: 10pt;
			color: #343434;
		}
	}
	a {
		border: 1px solid #009bc4;	
		.button(#eee, #00692C, #0079C1, #00A1FF, 5px);
		&:hover{
			.button(#fff, lighten(#00692C, 10%), darken(#0079C1, 10%), darken(#00A1FF, 5%), 5px);
		}
	}
	a.loggedin{
		border: 1px solid #A31415;
		.button(#eee, #A31415, desaturate(#ff0024, 10%), #c5031b, 5px);
		&:hover{
			.button(#fff, lighten(#A31415, 10%), darken(#ff0024, 10%), darken(#c5031b, 5%), 5px);
		}
	}
	
}
#survey_selection {
	#submit {
		background-color: #4784ed;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#4784ed), to(#2851cc));
		background-image: -webkit-linear-gradient(top, #4784ed, #2851cc);
		background-image: -moz-linear-gradient(top, #4784ed, #2851cc);
		background-image: -o-linear-gradient(top, #4784ed, #2851cc);
		background-image: -ms-linear-gradient(top, #4784ed, #2851cc);
		background-image: linear-gradient(top, #4784ed, #2851cc);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#4784ed', EndColorStr='#2851cc');
		color: #fff;
		border: 1px solid #1e3066;
		font-weight:bold;
		text-shadow: 0px 0px 3px #1e3066;
	}
	select {
		float: left;
		width: 80%;
	}
	option {
		width: 80%;
	}
}
#questions {
	visibility: hidden;

	.question {
		margin: 20px 0 50px 0;
		overflow: hidden;
		p {
			font-size: 12pt;
			text-transform: uppercase;
			margin: 0 0 7px 0;
			color: #555;
			padding: 10px 10px 8px;
			border: 1px solid #777;
			background: #eee;
		}
	}
	& .question:nth-child(1){
		margin-top: 0;
	}
	.chart {
		& > p {
			font-size: 15pt;
			font-weight: bold;
		}
	}
}
#login {
	display: none;
	height: auto;
	width: 400px;
	overflow: hidden;
	margin: 90px auto;
	background: white;
	border-radius: 7px;
	padding: 50px 0;
	border: 1px solid #999;

	input[type="text"], input[type="password"] {
		border: 1px solid #AAA;
		padding: 2px 4px;
		font-size: 12pt;
		display: block;
		width: 200px;
		margin: 0 auto 4px;
	} 
	input[type="submit"]{
		border: 1px solid #AAA;
		padding: 5px 0;
		font-size: 12pt;
		display: block;
		width: 210px;
		margin: 0 auto 4px;
	}
}
#list_users {
	margin-top: 25px;
	table#users {
		background: #eee;
		border-bottom: 1px solid #777;
		box-shadow: 0px 1px 10px #999;
		tr {
			padding: 4px 0;
			td {
				border-top: 1px solid white;
				border-bottom: 1px solid #AAA;
				padding: 4px 0;

				input[type="checkbox"]{
					margin-left: 8px;
				}
			}
			&:last-child{
				td {
					border-bottom: none;
				}
			}
			&.even{

			}
			&.odd{

			}
		}
	}
	#user_controls {
		li {
			float: left;
			margin: 0 360px 0 0;

			&:last-child{
				margin-right: 0;
			}
		}
		#update input{
		.button(#eee, #00692C, #0079C1, #00A1FF, 5px);
		}
		#deactivate input{
		.button(#eee, #A31415, desaturate(#e26600, 10%), #d64700, 5px);
		}
		#delete input{
		.button(#eee, #A31415, desaturate(#ff0024, 10%), #c5031b, 5px);
		}
	}
}
@import 'jqtransform.css';